#Doxygen & LaTeX

html
latex
annotated.tex
class_*.tex
dir_*.tex
*.sty
*.bat
*.aux
*.idx
*.log
*.out
*.toc

#Qt

*.pro.user

#CLion

.idea

#Building

Makefile
debug*
build*
release*
*.Debug
*.Release
*.exe
*.[ao]
*.obj

#Miscellaneous

*.autosave
~
*.tdo
*.in
